
<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Minimal Portfolio Theme">
<meta name="keywords" content="responsive, retina ready, html5, css3, creative, portfolio, bootstrap theme" />
<meta name="author" content="KingStudio.ro">

<!-- favicon -->
<link rel="icon" href="images/favicon.png">
<!-- page title -->
<title>SERIES NUTS</title>
<!-- bootstrap css -->
<link href="/style/bootstrap.min.css" rel="stylesheet">
<!-- css -->
<link href="/style/style.css" rel="stylesheet">
<!-- <link href="css/animate.css" rel="stylesheet">
<link href="css/magnific-popup.css" rel="stylesheet"> -->
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900" rel="stylesheet">
<link href="/style/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='/fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/style/linear-icons.css">
 </head>

<body>

<div id="container" >

</div>



  <script src="js/bundle.js"></script>

  </body>
</html>
