
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


     <link rel="stylesheet" href="./style/style.css">
  </head>
<body>

<div id="container" class="container">

</div>



  <script src="js/bundle.js"></script>

  </body>
</html>
